/* Fotns */

@font-face {
  font-family: "PT Sans";
  src: local("PTSans-Bold"), url(../fonts/PTSans-Bold.woff2) format("woff2"),
    url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PTSans"), url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #a9a9a9;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --blue: #669ec0;
  --extra-blue: #5496bd;
  --basic-brown: #766357;
  --brown: #604e43;
  --extra-brown: #503e33;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Global */

.page {
}
.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

/* Main header */

.main-header {
  font-weight: bold;
  color: var(--basic-black);
  background-color: transparent;
}
.main-menu {
}
.main-menu__list {
  list-style: none;
}
.main-menu__item {
}
.main-menu__link {
  text-decoration: none;
  color: var(--basic-black);
}
.main-menu__link--active:hover {
  color: var(--basic-blue);
}
.main-menu__link--active:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.main-menu__link--active:active {
  color: var(--basic-brown);
}
.main-menu__logo {
}

/* Welcome */

.wrapper {
}
.welcome {
  background-image: url(../img/bg.jpg);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}
.welcome__title {
}
.features {
  text-align: center;
}
.features__slogan {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/* Features */

.features__cause {
}
.features-list {
  list-style: none;
}
.features-list__item {
}
.features-list__block {
  text-align: center;
  color: var(--basic-white);
}
.features-list__content {
  background: var(--basic-blue);
  width: 400px;
  height: 256px;
}
.features-list__title {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}
.features-list__text {
  text-align: center;
}
.features-list__img {
}
.sublist {
  list-style: none;
}
.sublist__item {
}
.sublist__title {
  font-size: 21px;
  font-weight: bold;
}
.sublist__text {
}
.features-list__block--left {
  background: var(--basic-blue);
  width: 400px;
  height: 256px;
}

/* Form */

.search-hotel {
}
.search-hotel__subtitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.search-hotel__text {
  text-align: center;
  line-height: 24px;
}
.search-hotel__button {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
}
.search-hotel__button:hover {
  background-color: var(--brown);
}
.search-hotel__button:focus {
  background-color: var(--extra-brown);
  color: rgba(255, 255, 255, 0.3);
}
.search-form {
  font-weight: bold;
  line-height: 26px;
}
.search-form__item {
}
.search-form__label {
}
.search-form__input {
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.search-form__button {
}
.search-form__button--less {
  background-color: var(--basic-dark);
}
.search-form__button--less:hover {
  background-color: var(--basic-black);
}
.search-form__button--less:focus {
  background-color: var(--basic-blue);
}
.search-form__button--more {
  background-color: var(--basic-dark);
}
.search-form__button--more:hover {
  background-color: var(--basic-black);
}
.search-form__button--more:focus {
  background-color: var(--basic-blue);
}
.search-form__btn {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
  text-align: center;
}
.search-form__btn:hover {
  background-color: var(--blue);
}
.search-form__btn:focus {
  background-color: var(--extra-blue);
  color: rgba(255, 255, 255, 0.3);
}

/* map */

.map {
}
.map__img {
}

/* main footer */

.main-footer {
}
.main-footer__contacts {
}
.main-footer__text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.main-footer__tel {
  color: var(--basic-black);
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.main-footer__social {
}
.main-footer__list {
  list-style: none;
}
.main-footer__item {
}
.main-footer__link {
}
.main-footer__logo {
}
.main-footer__copyright {
  line-height: 26px;
}
.main-footer__copyright-icon {
}
.main-footer__copyright-img:hover {
}
