/* Fotns */

@font-face {
  font-family: "PT Sans";
  src: local("PTSans-Bold.woff"), local("PTSans-bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PTSans.woff"), local("PTSans.woff2");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #666666;
  --basic-white: #ffffff;
  --light-blue: #81b3d2;
  --basic-brown: #766357;
}
